CrawledData/
IndexData/
deploy/
# Node
node_modules/
react-app/node_modules/
react-app/package-lock.json
react-app/public/images/

# Python
__pycache__/
*.pyc
*.pyo

# Redis
dump.rdb

# Output files
*.log
*.txt
Crawler/storage/
Indexer/wiki_index/

# OS & IDE junk
.DS_Store
.env